.black{
	border-width: 1px;
    border-style: solid;
}

.container-pagina{
	margin:20px;
}

.box{
	margin-bottom: 20px;
	padding:15px;
}

.title-text{
	font-family: 'Tajawal', sans-serif;
}

.mainText{
	font-family: 'Tajawal', sans-serif;
}

.align-center{
	text-align: center;
}

.align-right{
	text-align:right;
}

.small-space{
	margin-right: 15px;
}

.huge-jump{
	margin-top: 50px;
}

.small-jump{
	margin-top: 10px;
}

hr{
	border-color: #921b15;
	border-width:3px;	
	margin-top: -10px;
}

.boxshadow{
	box-shadow: 7px 5px 8px grey;
}

button{
	background-color: #921b15 !important;
}

.container{
	min-height: 540px;
}

.textButton{
	display:none;
}

@media only screen and (max-width: 770px) {
    .mobile-box {
        display:none;
    }
}

@media only screen and (max-width: 1425px) {
    .col-md-4 {
    	flex: 0 0 100%;
    	max-width: 100%;
    }

      	.textInfo{
  		display: none;
  	}

  	.textButton{
  		display:block;
  	}
 
}
